In [9]:
import pandas as pd
from numpy.random import randn

In [10]:
df = pd.DataFrame(data=randn(5,4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())

In [11]:
df

          W         X         Y         Z
A -0.265991 -1.231329  0.719378 -0.308289
B  0.782727  0.662419 -0.499748 -1.637412
C  0.575917  1.900822  0.266721 -3.110474
D  1.076947 -0.411814  0.037088  0.004946
E -0.257420  1.556351 -0.258730 -2.855938

In [31]:
ser2 = pd.Series(data=randn(5), index=['EUA', 'Alemanha', 'Italia', 'Jap達o', 'KSA'])

In [38]:
df2 = pd.DataFrame(data=ser2, columns=['GPD'])

In [39]:
df2

               GPD
EUA       0.698141
Alemanha -0.827064
Italia   -0.079680
Jap達o     0.374929
KSA       1.445731

In [40]:
ser2

EUA         0.698141
Alemanha   -0.827064
Italia     -0.079680
Jap達o       0.374929
KSA         1.445731
dtype: float64

In [49]:
df['A'] = pd.Series(data=randn(5), index=["A", "B", "C", "D", "E"])

In [50]:
df

          W         X         Y         Z         A
A -0.265991 -1.231329  0.719378 -0.308289  1.379588
B  0.782727  0.662419 -0.499748 -1.637412 -0.856977
C  0.575917  1.900822  0.266721 -3.110474  0.857179
D  1.076947 -0.411814  0.037088  0.004946 -0.698881
E -0.257420  1.556351 -0.258730 -2.855938  0.175116

In [63]:
index = ['matthew', 'mark', 'luke', 'jhon', 'paul']
df3 = pd.DataFrame(
    {'Salary': pd.Series(data=randn(5), index=index),
    'Utilities': pd.Series(data=randn(5), index=index)}
)

In [64]:
df3

           Salary  Utilities
matthew  0.997701  -0.306918
mark    -0.538284   1.087074
luke    -1.033267   1.597872
jhon     0.525200   0.453594
paul     0.917773  -1.829887

In [68]:
df4 = pd.DataFrame(data=randn(4), index=['matthew', 'mark', 'luke', 'jhon'], columns=['book_pages'])

In [69]:
df4

         book_pages
matthew    0.377523
mark       1.608833
luke       0.272028
jhon       1.293362

In [71]:
pd.Series(data=[150, 165, 23, 47, 12], index=['beef', 'chicken', 'rice', 'butter', 'tip'])

beef       150
chicken    165
rice        23
butter      47
tip         12
dtype: int64

In [88]:
df5 = pd.DataFrame(data=[150, 165, 23, 47, 12], index=['beef', 'chicken', 'rice', 'butter', 'tip'], columns=['Groceries'])

In [89]:
df5['panda'] = pd.Series(data=[1520, 65, 223, 4, 2], index=['beef', 'chicken', 'rice', 'butter', 'tip'])

In [90]:
df5

         Groceries  panda
beef           150   1520
chicken        165     65
rice            23    223
butter          47      4
tip             12      2

In [92]:
pd.DataFrame({
    'Groceries': df5['panda']
})

         Groceries
beef          1520
chicken         65
rice           223
butter           4
tip              2